$dd-item-padding:   5px;
$dd-arrow-padding:  40px;
$dd-min-width:      100px;

// General styling
*[cx-dropdown], *[cx-dropdown][open] {
  position:relative;
  display:inline-block;
  cursor:pointer;

  // &>*:first-child {
  //   padding:$dd-item-padding;
  //   display:inline-block;
  // }

  &:not([open]) {
    display:inline-block;

    ul, ol {
      display: none;
    }
  }
}


// Arrow styling
*[cx-dropdown] {
  &>*:first-child {
    @include transition(background-color 0.4s);
  }
  &:not([open])>*:first-child:after {
    @include arrow-down(4px, black);
    position:absolute;
    top:50%;
    right:5px;
    @include transform( translateY(-50%) );
  }
  &[open]>*:first-child:after {
    @include arrow-up(4px, black);
    position:absolute;
    top:50%;
    right:5px;
    @include transform( translateY(-50%) );
  }
}



// Styling for the "base"
*[cx-dropdown]>*:first-child {
  padding:$dd-item-padding;
  padding-right:$dd-arrow-padding;
  min-width:$dd-min-width;
  display:inline-block;

  &:hover {
    background-color:lightblue;
  }
}



// Styling for the open state
*[cx-dropdown][open] {

  ul, ol {
    position:absolute;
    display:inline-block;
    margin:0;
    padding:0;
    left:0;
    top:0;
    background-color:white;
    list-style:none;
    border:solid 1px gray;
    border-radius:1px;
    min-width:$dd-min-width;
    max-height:180px;
    overflow-y:auto;

    li {
      padding:$dd-item-padding;
      padding-right:$dd-arrow-padding;
      min-width:$dd-min-width;
    }

    li.highlighted {
      background-color:lightblue;
    }
    li:not([selected]) {
    }
    li[selected] {
      background-color:lightblue;
      &:hover, &.highlighted {
        background-color:darken(lightblue,20%);
      }
    }
  }
}

@media (max-width:767px) {
  *[cx-dropdown][open].cx-mobile-panel {

    ul, ol {
      position:fixed!important;
      width:100%!important;
      bottom:0;
      top: auto!important;
      max-height:40vh;

      li {
        font-size:16px;
        padding:$dd-item-padding * 1.5;
      }
    }
  }

}
