/* line 6, ../sass/_dropdown.scss */
*[cx-dropdown], *[cx-dropdown][open] {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* line 16, ../sass/_dropdown.scss */
*[cx-dropdown]:not([open]), *[cx-dropdown][open]:not([open]) {
  display: inline-block;
}
/* line 19, ../sass/_dropdown.scss */
*[cx-dropdown]:not([open]) ul, *[cx-dropdown]:not([open]) ol, *[cx-dropdown][open]:not([open]) ul, *[cx-dropdown][open]:not([open]) ol {
  display: none;
}

/* line 28, ../sass/_dropdown.scss */
*[cx-dropdown] > *:first-child {
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 31, ../sass/_dropdown.scss */
*[cx-dropdown]:not([open]) > *:first-child:after {
  width: 0;
  height: 0;
  content: ' ';
  display: block;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  position: absolute;
  top: 50%;
  right: 5px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 38, ../sass/_dropdown.scss */
*[cx-dropdown][open] > *:first-child:after {
  width: 0;
  height: 0;
  content: ' ';
  display: block;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid black;
  position: absolute;
  top: 50%;
  right: 5px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 50, ../sass/_dropdown.scss */
*[cx-dropdown] > *:first-child {
  padding: 5px;
  padding-right: 40px;
  min-width: 100px;
  display: inline-block;
}
/* line 56, ../sass/_dropdown.scss */
*[cx-dropdown] > *:first-child:hover {
  background-color: lightblue;
}

/* line 66, ../sass/_dropdown.scss */
*[cx-dropdown][open] ul, *[cx-dropdown][open] ol {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: white;
  list-style: none;
  border: solid 1px gray;
  border-radius: 1px;
  min-width: 100px;
}
/* line 79, ../sass/_dropdown.scss */
*[cx-dropdown][open] ul li, *[cx-dropdown][open] ol li {
  padding: 5px;
  padding-right: 40px;
  min-width: 100px;
}
/* line 85, ../sass/_dropdown.scss */
*[cx-dropdown][open] ul li:hover, *[cx-dropdown][open] ol li:hover {
  background-color: lightblue;
}
/* line 90, ../sass/_dropdown.scss */
*[cx-dropdown][open] ul li[selected], *[cx-dropdown][open] ol li[selected] {
  background-color: lightblue;
}
/* line 92, ../sass/_dropdown.scss */
*[cx-dropdown][open] ul li[selected]:hover, *[cx-dropdown][open] ol li[selected]:hover {
  background-color: #5fb3ce;
}
